<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">

    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.5.3-dist/css/bootstrap.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.5.3-dist/css/bootstrap-grid.css}">
    </head>

    <div class="col-12">
        <div th:if="${param.keySet().contains('error')}" class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center alert alert-danger" role="alert" th:text="#{login.error}">
            </div>
        </div>

        <div th:unless="${savedLogins.isEmpty()}" class="row justify-content-center">
            <p>Saved logins</p>

            <a th:each="savedLogin : ${savedLogins}"
               th:text="${savedLogin.username}"
               th:href="${'/saved/' + savedLogin.username + '?redirect_uri=' + #uris.escapePathSegment(redirectUri) + '&service=' + #uris.escapePathSegment(service)}"></a>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center border p-1 bg-light">
                <form method="post" th:action="@{/login}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="password">Remember me</label>
                        <input type="checkbox" class="form-control" id="saveLogin" name="saveLogin">
                    </div>

                    <input type="hidden" name="redirectUri" th:value="${redirectUri}"/>
                    <input type="hidden" name="service" th:value="${service}"/>

                    <input type="submit" class="btn btn-primary w-100"></input>
                </form>
            </div>
        </div>
    </div>
</html>